<div class="modal fade js-denialModal" tabindex="-1" role="dialog" aria-labelledby="denialModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Deny</h4>
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      </div>
      <div class="modal-body">
        <%= form_tag deny_path(:id => 0), method: :post, :class => "form-horizontal" do %>
          <%= label_tag 'reason', 'Reason for Denial', :class => 'control-label' %>
          <%= text_field_tag :reason, params[:reason], :class => "form-control", :id => nil %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
          <%= button_tag "Submit", name: nil, type: "submit", class: "btn btn-success" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  modal = $('.js-denialModal');
  modal.on('shown.bs.modal', function (event) {
    var button = $(event.relatedTarget);
    var teacherid = button.data('teacherid');
    var teachername = button.data('teachername');
    var newaction = '/admin/forms/deny/' + teacherid;
    modal.find('.form-horizontal').attr('action', newaction);
    modal.find('.modal-title').text('Deny ' + teachername);
  });
  modal.on('hidden.bs.modal', function () {
    $('input[name="reason"]').val('');
  });
</script>
