<style>
  .login-form {
    width: 340px;
    margin: 30px auto;
  }
  .login-form .wrap {
    margin-bottom: 15px;
    background: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
  }
  .login-form h2 {
    margin: 0 0 15px;
  }
  .social-btn .btn {
    margin: 10px 0;
    font-size: 15px;
    text-align: left; 
    line-height: 24px;       
  }
  .social-btn .btn i {
    float: left;
    margin: 4px 15px  0 5px;
    min-width: 15px;
  }
</style>

<div class="login-form">
  <div class="wrap">
    <h2 class="text-center">Sign in</h2>    
    <div class="text-center social-btn">
      <%= form_tag('/auth/google_oauth2', method: 'post') do %>
        <button class="btn btn-danger btn-block">
          <svg width="10%" height="auto" viewBox="0 0 500 500"><path xmlns="http://www.w3.org/2000/svg" id="path0" d="M179.817 0.889 C 102.035 10.762,38.384 59.806,12.292 129.969 C -5.769 178.536,-4.477 239.334,15.583 284.828 C 52.874 369.402,137.709 416.141,235.168 405.807 C 315.046 397.336,375.590 347.015,394.110 273.700 C 400.725 247.516,402.168 209.776,397.471 185.780 L 396.783 182.263 300.532 182.263 L 204.281 182.263 204.281 216.205 L 204.281 250.147 262.669 250.303 L 321.057 250.459 318.937 256.776 C 304.971 298.403,272.277 323.893,225.382 329.716 C 152.168 338.808,89.320 291.170,81.029 220.300 C 71.214 136.394,132.528 70.605,215.644 75.860 C 248.484 77.936,269.718 87.060,295.265 110.072 C 298.716 113.180,301.881 115.578,302.299 115.400 C 303.853 114.740,356.276 63.474,356.451 62.444 C 356.803 60.366,338.833 44.117,326.825 35.656 C 300.548 17.140,274.542 6.788,241.590 1.725 C 230.961 0.092,190.419 -0.457,179.817 0.889 " stroke="none" fill="#FFFFFF" fill-rule="evenodd"/></svg>
          Sign in with <b>Google</b></button>
      <% end %>
      <%= form_tag('/auth/google_oauth2', method: 'post') do %>
        <button class="btn btn-warning btn-block">
          <svg width="10%" height="auto" viewBox="0 0 1500 1500"><path xmlns="http://www.w3.org/2000/svg" id="path0" d="M251.580 8.757 C 162.379 63.153,143.166 175.953,148.669 612.941 L 151.972 875.294 192.904 875.294 L 233.836 875.294 243.498 843.529 C 248.812 826.059,264.967 773.647,279.398 727.059 C 406.439 316.936,436.417 59.526,362.833 10.626 C 341.261 -3.710,273.880 -4.842,251.580 8.757 M120.000 1159.540 C 36.732 1185.943,0.121 1240.210,0.046 1337.341 C -0.035 1442.270,19.579 1463.563,116.237 1463.483 C 231.156 1463.388,289.412 1401.664,289.412 1280.000 C 289.412 1172.856,224.212 1126.495,120.000 1159.540 " stroke="none" fill="#FFFFFF" fill-rule="evenodd"/></svg>
          Sign in with <b>Snap</b></button>
      <% end %>
      <%= form_tag('/auth/microsoft_office365', method: 'post') do %>
        <button class="btn btn-primary btn-block">
          <svg width="10%" height="auto" viewBox="0 0 500 500"><path xmlns="http://www.w3.org/2000/svg" id="path0" d="M392.300 0.419 C 390.980 0.623,385.580 1.419,380.300 2.188 C 375.020 2.957,366.965 4.130,362.400 4.797 C 357.835 5.463,353.515 6.093,352.800 6.198 C 352.085 6.302,348.395 6.843,344.600 7.400 C 340.805 7.957,336.485 8.588,335.000 8.803 C 333.515 9.017,329.195 9.647,325.400 10.201 C 321.605 10.756,317.285 11.385,315.800 11.600 C 314.315 11.814,310.625 12.353,307.600 12.797 C 304.575 13.241,300.255 13.872,298.000 14.199 C 295.745 14.526,291.425 15.158,288.400 15.604 C 285.375 16.049,281.055 16.678,278.800 17.001 C 276.545 17.324,273.440 17.776,271.900 18.006 C 270.360 18.236,264.825 19.046,259.600 19.806 C 245.022 21.927,229.592 24.180,215.800 26.203 C 209.725 27.094,194.393 29.321,187.600 30.300 C 184.905 30.688,182.453 31.057,182.150 31.119 L 181.600 31.232 181.600 110.948 L 181.600 190.663 196.950 190.526 C 205.392 190.451,223.460 190.303,237.100 190.197 C 250.740 190.091,273.150 189.912,286.900 189.799 C 300.650 189.686,323.150 189.507,336.900 189.400 C 350.650 189.294,369.798 189.145,379.450 189.071 L 397.000 188.934 397.000 94.467 L 397.000 0.000 395.850 0.024 C 395.218 0.036,393.620 0.214,392.300 0.419 M157.300 34.704 C 155.540 34.954,151.400 35.524,148.100 35.970 C 144.800 36.417,139.400 37.151,136.100 37.601 C 132.800 38.051,125.150 39.092,119.100 39.914 C 113.050 40.736,106.750 41.593,105.100 41.818 C 98.958 42.655,96.387 43.004,92.000 43.599 C 89.525 43.934,86.870 44.300,86.100 44.411 C 85.330 44.522,80.380 45.196,75.100 45.908 C 69.820 46.620,63.835 47.431,61.800 47.710 C 59.765 47.990,56.840 48.391,55.300 48.602 C 53.760 48.814,51.150 49.169,49.500 49.392 C 47.850 49.615,43.890 50.155,40.700 50.593 C 37.510 51.030,32.560 51.702,29.700 52.086 C 26.840 52.469,21.485 53.194,17.800 53.697 C 14.115 54.200,9.120 54.880,6.700 55.209 C 0.663 56.029,0.743 56.017,0.350 56.128 C 0.018 56.222,0.000 59.627,0.000 124.045 L 0.000 191.863 24.250 191.731 C 49.224 191.595,62.126 191.519,115.700 191.191 C 132.860 191.086,150.388 191.000,154.650 191.000 L 162.400 191.000 162.400 112.600 L 162.400 34.200 161.450 34.224 C 160.928 34.238,159.060 34.454,157.300 34.704 M0.000 275.450 L 0.001 343.300 4.950 343.965 C 7.673 344.331,11.475 344.851,13.400 345.122 C 15.325 345.393,20.140 346.058,24.100 346.600 C 28.060 347.142,33.955 347.951,37.200 348.399 C 40.445 348.847,43.730 349.297,44.500 349.399 C 45.270 349.500,47.565 349.814,49.600 350.096 C 55.858 350.962,71.492 353.112,78.000 354.002 C 80.475 354.341,83.760 354.792,85.300 355.005 C 86.840 355.217,90.755 355.757,94.000 356.203 C 97.245 356.649,101.520 357.240,103.500 357.515 C 105.480 357.791,107.730 358.100,108.500 358.201 C 109.986 358.397,112.155 358.694,121.600 359.998 C 124.845 360.445,130.740 361.256,134.700 361.798 C 138.660 362.341,142.575 362.882,143.400 363.001 C 144.225 363.120,145.530 363.301,146.300 363.402 C 147.070 363.504,150.668 363.995,154.295 364.493 C 157.922 364.992,161.230 365.400,161.645 365.400 L 162.400 365.400 162.400 287.026 L 162.400 208.652 149.450 208.520 C 142.327 208.447,122.100 208.299,104.500 208.189 C 86.900 208.080,59.855 207.904,44.400 207.798 C 28.945 207.693,12.633 207.605,8.150 207.603 L 0.000 207.600 0.000 275.450 M181.400 254.250 C 181.400 278.697,181.460 314.295,181.533 333.355 L 181.666 368.009 182.083 368.089 C 182.312 368.133,183.265 368.266,184.200 368.385 C 186.303 368.652,196.829 370.117,198.600 370.389 C 199.315 370.498,200.620 370.682,201.500 370.798 C 202.380 370.914,203.640 371.094,204.300 371.199 C 204.960 371.304,207.525 371.665,210.000 372.001 C 212.475 372.338,215.670 372.784,217.100 372.993 C 218.530 373.202,220.465 373.474,221.400 373.596 C 222.335 373.719,223.640 373.904,224.300 374.008 C 226.312 374.325,229.577 374.789,232.000 375.102 C 234.323 375.403,236.106 375.657,238.300 376.002 C 238.960 376.105,241.525 376.466,244.000 376.804 C 246.475 377.141,249.445 377.557,250.600 377.727 C 253.358 378.134,254.610 378.309,257.500 378.691 C 258.820 378.865,261.070 379.182,262.500 379.394 C 263.930 379.606,267.125 380.057,269.600 380.396 C 272.075 380.735,274.640 381.099,275.300 381.204 C 276.640 381.418,278.810 381.726,289.400 383.203 C 293.415 383.763,300.480 384.756,305.100 385.409 C 309.720 386.062,315.480 386.870,317.900 387.204 C 320.320 387.539,322.840 387.898,323.500 388.002 C 324.160 388.107,325.420 388.285,326.300 388.400 C 327.180 388.515,328.440 388.691,329.100 388.792 C 330.808 389.054,332.697 389.323,337.600 390.000 C 339.965 390.327,342.530 390.689,343.300 390.805 C 344.831 391.036,353.859 392.315,356.100 392.619 C 356.870 392.723,358.490 392.943,359.700 393.107 C 360.910 393.271,362.485 393.497,363.200 393.610 C 363.915 393.723,367.695 394.260,371.600 394.803 C 375.505 395.346,379.330 395.886,380.100 396.001 C 385.215 396.770,395.739 398.200,396.281 398.200 L 396.935 398.200 397.076 304.618 C 397.153 253.148,397.162 210.818,397.095 210.551 L 396.973 210.066 346.437 209.933 C 318.641 209.860,270.137 209.800,238.650 209.800 L 181.400 209.800 181.400 254.250 " stroke="none" fill="#FFFFFF" fill-rule="evenodd"/></svg>
          Sign in with <b>Microsoft</b></button>
      <% end %>
      <%= form_tag('/auth/google_oauth2', method: 'post') do %>
        <button class="btn btn-info btn-block">
          <svg width="10%" height="auto" viewBox="0 0 500 500"><path xmlns="http://www.w3.org/2000/svg" id="path0" d="M174.839 3.077 C 86.291 21.798,20.387 88.220,2.678 176.591 C -1.252 196.206,-1.269 253.319,2.650 272.701 C 18.439 350.775,73.255 413.484,147.097 437.944 C 197.360 454.594,267.351 452.957,315.484 434.004 C 348.942 420.830,400.752 381.990,399.746 370.835 C 399.375 366.717,342.594 307.097,339.043 307.097 C 338.445 307.097,333.771 310.746,328.655 315.206 C 281.690 356.158,230.225 368.341,182.495 349.807 C 83.361 311.313,73.704 158.112,167.097 105.524 C 216.512 77.699,274.224 87.259,326.736 131.969 C 336.872 140.599,335.380 141.626,368.868 102.989 C 402.242 64.484,400.921 66.925,392.581 59.171 C 361.982 30.726,327.830 12.778,287.097 3.736 C 266.553 -0.825,195.271 -1.243,174.839 3.077 " stroke="none" fill="#FFFFFF" fill-rule="evenodd"/></svg>
          Sign in with <b>Clever</b></button>
      <% end %>
    </div>
  </div>
  <div class="hint-text small">Don't have an account? <a href="/" class="text-success">Sign up now!</a></div>
</div>
