<%= provide(:h1, "Edit Page") %>
<hr />

<%= form_for @dynamic_page, url: { action: :update, id: @dynamic_page.id } do |f| %>
  <%= render 'dynamic_pages/form', fields: f %>

  <div class="actions">
      <%= f.submit f.object.new_record? ? "Submit" : "Update", class: "btn btn-primary" %>
    </div>
<% end %>