<%= provide(:h1, "Edit Page") %>
<hr />

<%= form_for @dynamic_page do |f| %>
  <%= render 'form', fields: f %>

  <br>
  <div class="actions">
      <%= f.submit f.object.new_record? ? "Submit" : "Update", class: "btn btn-primary" %>
    </div>
<% end %>
