html {
  min-height: 100%;
  position: relative;
}

body {
  margin: 0 0 255px;
  /* bottom = footer height */
}

footer {
  position: absolute;
  margin: 0;
  background-color: #18568C;
  color: #FFF;
  padding-top: 25px;
  left: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
}

footer .container .social-icons {
  text-align: center;
  margin-bottom: 10px;
}

footer .container .social-icons a {
  margin-right: 10px;
}

.fa-2x {
  font-size: 2em;
}

footer .footer-links {
  max-width: 80em;
  margin: 0.2em auto;
  padding: 1em;
  text-align: center;
  font-size: 12px;
}

.social-icons > a {
  color: #fff;
}

#sign-up-form-container {
  margin-bottom: 80px;
}

.google-signin {
  background-color: white;
}

.hero-btn {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.25);
  width: 160px;
  margin-right: 15px;
}

.admin-jumbotron {
  margin-top: 55px;
}

#map {
  height: 500px;
  margin-bottom: 55px;
}

a {
    color: #3B7EA1;
}

footer a {
    color: #B3EFFF;
}

footer a:hover,
footer a:active {
    /* As similar lines below, each line has been considered.
       Links' colors are placed at the end so that they have the
       highest specificity. */
    color: #F2E205;
}
