/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require selectize
 *= require selectize.default
 */

@import 'bootstrap';

// $fa-font-path: '/packs/media/webfonts';
$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import 'layout';
@import 'forms';
@import 'edit_teachers';

@import "./actiontext.scss";
@import "./selectize.scss";
//@import 'selectize'


html {
  min-height: 100%;
  position: relative;
  --berkeley-blue: #003262;
}

body {
  margin: 0 0 255px;
  /* bottom = footer height */
}

.btn-primary {
  background-color: var(--berkeley-blue);
}

.btn-blue {
  background-color: #9dc0ee;
}

footer {
  position: absolute;
  margin: 0;
  background-color: #18568C;
  color: #FFF;
  padding-top: 25px;
  left: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
}

footer .container .social-icons {
  text-align: center;
  margin-bottom: 10px;
}

footer .container .social-icons a {
  margin-right: 10px;
}

.fa-2x {
  font-size: 2em;
}

footer .footer-links {
  max-width: 80em;
  margin: 0.2em auto;
  padding: 1em;
  text-align: center;
  font-size: 12px;
}

.social-icons > a {
  color: #fff;
}

#sign-up-form-container {
  margin-bottom: 80px;
}

.google-signin {
  background-color: white;
}

.hero-btn {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.25);
  width: 160px;
  margin-right: 15px;
}

.admin-jumbotron {
  margin-top: 55px;
}

#map {
  height: 500px;
  margin-bottom: 55px;
}

a {
  color: var(--indigo);
}

footer a {
    color: #B3EFFF;
}

footer a:hover,
footer a:active {
    /* As similar lines below, each line has been considered.
       Links' colors are placed at the end so that they have the
       highest specificity. */
    color: #F2E205;
}
