.navbar.navbar-bjc {
    background-color: #0C3559;
}

.navbar-dark .nav .nav-item .nav-link {
    color: #FFF;
}

.navbar-dark .nav .nav-item:hover .nav-link,
.navbar-dark .nav .nav-item:active .nav-link {
    color: #F2E205;
}

.navbar-title {
    font-family: 'work_sansregular', Helvetica, Arial, sans-serif;
    font-size: 1.2em;
    padding: 0 0.5em;
    color: #FFF;
    text-decoration: none;
    font-variant: normal;
  }
