/* Modal styling */
.merge_modal {
  display: none; /* Hide the modal by default */
  position: fixed;
  z-index: 1000; /* Ensure modal appears on top of other elements */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Enable scrolling if content exceeds the modal size */
  background-color: rgba(0, 0, 0, 0.4); /* Semi-transparent black background */
}

/* Modal content */
.merge_modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* Center modal vertically and horizontally */
  padding: 20px; /* You can increase the padding to add more hspace */
  border: 1px solid #888;
  border-radius: 5px;
  width: 95%; /* You can adjust the width of the modal content as needed */
  position: relative; /* Enable positioning of the close button */
}

/* Close button */
.close {
  position: absolute; /* Position the close button absolutely */
  top: 10px; /* Adjust this value to move the close button up or down */
  right: 10px; /* Position the close button on the right side of the modal content */
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}