<div class='container page-title'>
  <div class='row'>
    <div class='col'>
      <h1> <%= "#{@status} Edit #{@teacher.full_name}" %> </h1>
    </div>
    <% if @is_admin or @teacher.validated? %>
      <div class='col resend-email-div'>
        <%= button_to "Resend Welcome Email", { action: "resend_welcome_email", id: @teacher.id }, :class => "btn btn-primary resend-email-button" %>
      </div>
    <% end %> 
  </div>
  <hr/>
</div>
<div id='sign-up-form-container'>
  <%= render 'form', teacher: @teacher, admin: @is_admin %>
</div>
