<div class='container'>
  <div class='row'>
    <div class='col'>
      <h1> <%= "#{@status} Edit #{@teacher.full_name}" %> </h1>
    </div>
    <% if @is_admin or @teacher.validated? %>
      <div class='col' style="position:relative;">
        <%= button_to "Resend Welcome Email", { action: "resend_welcome_email", id: @teacher.id }, {:class => "btn btn-primary", :style => "width:auto;position:absolute;right:0;margin:auto;bottom:15%" } %>
      </div>
    <% end %>
  </div>
</div>
<div id='sign-up-form-container'>
  <% if !flash[:success] %>
    <%= render 'form', teacher: @teacher %>
  <% end %>
</div>
