<%= provide(:h1, "All BJC Teachers") %>

<div class="btn-group" role="group" aria-label="New Page">
  <%= button_to("Add New Teacher", {action: "new"}, method: :get) %>
</div>

<div class="custom-control custom-checkbox custom-control-inline float-right">
  <input class="custom-control-input" type="checkbox" name="Application Status" id="Validated" value="Validated">
  <label class="custom-control-label" for="Validated">Validated</label>
</div>
<div class="custom-control custom-checkbox custom-control-inline float-right">
  <input class="custom-control-input" type="checkbox" name="Application Status" id="Denied" value="Denied">
  <label class="custom-control-label" for="Denied">Denied</label>
</div>
<div class="custom-control custom-checkbox custom-control-inline float-right">
  <input class="custom-control-input" type="checkbox" name="Application Status" id="Pending" value="Pending">
  <label class="custom-control-label" for="Pending">Pending</label>
</div>

<div class="col-12">
  <table class="table table-striped js-dataTable">
    <thead class="thead-dark">
      <tr>
        <%= render 'table_headers' %>
      </tr>
    </thead>
    <tbody>
      <% @all_teachers.each do |teacher| %>
      <tr>
        <%= render 'teacher', teacher: teacher %>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

<script type="text/javascript">
  $(function() {
    otable = $('#DataTables_Table_0').dataTable();
  })
  function filterme() {
    var types = $('input:checkbox[name="Application Status"]:checked').map(function() {
      return '^' + this.value + '\$';
    }).get().join('|');
    otable.fnFilter(types, 6, true, false, false, false);
  }
  $(".custom-checkbox").change(function() {
    filterme()
  });
</script>
