<%= provide(:h1, "All BJC Teachers") %>


<div class="col-12">
  <table class="table table-striped js-dataTable">
    <thead class="thead-dark">
      <tr>
        <%= render 'table_headers' %>
      </tr>
    </thead>
    <tbody>
      <% @all_teachers.each do |teacher| %>
      <tr>
        <%= render 'teacher', teacher: teacher %>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
