<%= provide(:h1, "Request Access to BJC Teacher Materials") %>

<div id='sign-up-form-container'>
  <%# If submission was successful, don't re-render the form. %>
  <% if !flash[:success] %>
    <%= render 'form', teacher: @teacher %>
  <% end %>
</div>
