<%= provide(:h1, "#{@status} View #{@teacher.full_name}") %>

<head>
  <style>
    /* Style for the box around the file upload link */
    .box-link {
      display: inline-block; /* Allow the element to take width and height properties */
      padding: 5px 10px; 
      height: 40px;
      border: 1px solid #ccc; /* Border around the box */
      border-radius: 5px; /* Rounded corners (optional) */
      background-color: #f9f9f9; /* Very light grey */
    }
    /* Style for the add file button */
    .styled-button {
      background-color: #8A2BE2; /* Light purple */
      color: white;
      padding: 8px 16px;
      border-radius: 5px;
      cursor: pointer;
      font-size: 14px;
      font-weight: bold;
    }

    .styled-button:hover {
      background-color: #0056b3;
    }
  </style>
</head>

<%= render 'teacher_info', teacher: @teacher %>

<hr>
<div class='row'>
  <div class='col-12'>
    <%= button_to "Resend Welcome Email", { action: "resend_welcome_email", id: @teacher.id },
        class: "btn btn-secondary" %>
  </div>
</div>
