<%= provide(:h1, "#{@status} View #{@teacher.full_name}") %>

<%= render 'teacher_info', teacher: @teacher %>

<% if flash[:notice].present? %>
  <div class="flash notice">
    <%= flash[:notice] %>
  </div>
<% end %>

<hr>
<div class='row'>
  <div class='col-12'>
    <%= button_to "Resend Welcome Email", { action: "resend_welcome_email", id: @teacher.id },
        class: "btn btn-secondary" %>
  </div>
</div>
