<head> 
  <link rel="stylesheet" href="application.css">
</head>
<div id='statistics-container'>
  <h1 id="statistics-title">School Statistics</h1>
  <table id='school_stats', className="padding-table-columns",  border="1", cellpadding="10px">
    <thead>
      <tr>
      <th> School </th> 
      <th> City </th>
      <th> Number of Teachers </th> 
      </tr>
    </thead>
    <tbody>
      <% @teachers.each do |teacher| %>
      <tr>
      	<td> <%= teacher.school_name %> </td>
        <td> <%= teacher.city + ', ' + teacher.state %> </td>
        <td> <%= 1 %> </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

