.navbar.navbar-bjc {
    background-color: #0C3559;
}

.navbar-dark .nav .nav-item .nav-link {
    color: #FFF;
}

.navbar-dark .nav .nav-item:hover .nav-link,
.navbar-dark .nav .nav-item:active .nav-link {
    color: #F2E205;
}

.page-title {
    margin: 25px 0px;
}
