.navbar.navbar-bjc {
    background-color: #0C3559;
}

.navbar-dark .navbar-nav .nav-item .nav-link {
    color: #B3EFFF;
}

.navbar-dark .navbar-nav .nav-item:hover .nav-link,
.navbar-dark .navbar-nav .nav-item:active .nav-link {
    color: #EABF6A;
}

.page-title {
    margin: 25px 0px;
}
