<%= provide(:h1, "All Email Templates") %>


<div class="col-12">
  <table class="table table-striped js-dataTable">
    <thead class="thead-dark">

    </thead>
    <tbody>
      <% @all_templates.each do |template| %>
      <tr>
        <td><%= link_to(template.title, edit_email_template_path(template)) %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>