<nav class='navbar navbar-dark navbar-bjc'>
  <a class='navbar-brand' href='/' aria-label="Dashboard">
    <%= image_pack_tag('bjc.png', width: 30, height: 30, 'aria-hidden': 'true') %>
  </a>

  <div>
    <ul class='nav justify-content-end'>
      <% if @is_admin %>
        <% admin_nav_links.each do |name, url|  %>
          <li class='nav-item'>
            <%= link_to name, url, class: "nav-link" %>
          </li>
        <% end %>
      <% end %>
      <% if current_user %>
        <li class='nav-item'>
          <a class='nav-link' href='/logout' data-method='delete'>Logout</a>
        </li>
      <% else %>
        <li class='nav-item'>
          <a class='nav-link' href='/login'>Log In</a>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
