<!DOCTYPE html>
<html>
<head>
  <title>BjcTeacherTracker</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" media="screen" rel="stylesheet" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <% if notice%>
    <% notice%>
  <% end %>
  <% if alert%>
    <% alert%>
  <% end %>
  <%= yield %>
</div>

</body>

</html>
